daemonize no

unix_socket_dir "/tmp"
unix_socket_mode "0644"

log_format "[%t] %l [%h:%r (%i) %s] (%c) %m\n"
log_to_stdout yes
log_syslog no
log_syslog_ident "odyssey"
log_syslog_facility "daemon"

log_debug {{getv "/postgres/log/debug" "no"}}
log_config yes
log_session yes
log_query no

log_stats yes
stats_interval 60

workers {{getv "/workers" "1"}}
resolvers {{getv "/resolvers" "1"}}

readahead {{getv "/readahead" "8192"}}

cache_coroutine {{getv "/coroutine/cache" "1152"}}
coroutine_stack_size {{getv "/coroutine/stacksize" "4"}}

nodelay {{getv "/nodelay" "yes"}}
keepalive {{getv "/keepalive" "15"}}

client_max {{getv "/maxclients"}}

listen {
  host "*"
  port {{getenv "ODYSSEY_LISTEN_PORT"}}

  backlog {{getv "/backlog" "512"}}
}

storage "postgres_server" {
  type "remote"

  host "{{getv "/postgres/host"}}"
  port {{getv "/postgres/port"}}
}

database default {
  user default {
    storage "postgres_server"
    authentication "block" 

    pool "{{getv "/postgres/pool/mode"}}"
    pool_size 1
  }
  
  user "{{getv "/postgres/username"}}" {
    storage "postgres_server"
    
    authentication "{{getv "/postgres/auth/mechanism" "clear_text"}}"

    password "{{getv "/postgres/password"}}"

    client_max {{getv "/maxclients"}}

    pool "{{getv "/postgres/pool/mode"}}"

    pool_size {{getv "/postgres/pool/size"}}

    pool_timeout {{getv "/postgres/pool/timeout"}}
    pool_ttl {{getv "/postgres/pool/ttl"}}

    pool_discard {{getv "/postgres/pool/discard" "yes"}}
    pool_cancel {{getv "/postgres/pool/cancel" "yes"}}
    pool_rollback {{getv "/postgres/pool/rollback" "yes"}}

    client_fwd_error {{getv "/postgres/clientfwderrors" "yes"}}

    log_debug no
  }
}

storage "local" {
  type "local"
}

database "console" {
  user default {
    authentication "none"
    pool "session"
    storage "local"
  }
}
